[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "==4.0.1"
uvicorn = "==0.17.6"
python-decouple = "==3.6"
beautifulsoup4 = "==4.11.2"
isort = "==4.2.15"
vcrpy = "*"
fastapi = "*"
pydantic-settings = "*"
fastapi-redis-cache = {ref = "v0.3", git = "git+https://github.com/rafa-acioly/fastapi-redis-cache.git"}
httpx = "==0.27.0"

[dev-packages]
isort = "==4.2.15"
flake8 = "==4.0.1"
vcrpy = "==4.2.1"
pytest = "==8.2.1"
pytest-vcr = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
